
@import "../../styles/components/variaveis.scss";


.duvidas{

  background-color: $amarelo;
  padding:40px 15px;

  .titleDuvidas{
    text-align: center;
    color:$azul
  }


  button{

    background:none;
    border:none;
    outline: none;;
    color:$azul;
    font-weight: 600;
    font-size:18px;
    margin-bottom:20px;
    padding:7px 10px;
    cursor: pointer;


    &:hover{
      color: #2F2F69;
    }
  }

  @media(min-width:760px){

  padding:60px 0px;

  button{
    text-align: left;
    padding:7px 0px;
  }

  .linha{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    .col{
      margin-bottom:40px;
      margin:0;
      padding:0;
      width:50%;
      ul{
        padding:0;
        margin:0;
      }
    }
  }
  }

}
