@import "../../styles/components/variaveis.scss";
.topoSite {
  padding: 0px 0px 0px 0px;
  text-align: left;
  background-color: #fff;
  h2 {
    color: $azul;
    font-size:32px;
  }
  p {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .linha {
    padding: 15px;
    display: flex;
    flex-direction: column;
  }

  a {
    @include buttonDefault($amarelo, $azul);
    padding:16px 0px;
    font-size:18px;
    clear:both;
    display:block;
    width:95%;
    &:hover {
      background: $azul;
      color: $branco;
    }
  }

  .imagemMulher {
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
      position: relative;
      top:17px;
    }
    picture{
      position: relative;
      top:2px;
    }
  }

  @media (min-width: 760px) {
    padding: 0px 0px 0px 0px;
    text-align: left;
    h2 {
      color: $azul;
      font-size: 48px;
      margin-bottom: 0px;
    }
    p {
      font-size: 26px;
      margin-bottom: 66px;
    }
    a {
      font-size: 22px;
      padding: 16px 36px;
      width:340px;
    }
    .linha {
      padding: 15px;
      display: flex;
      flex-direction: row !important;
      justify-content: space-between;
    }
    .titleTopo {
      width: 50%;
      margin-top: 60px;
    }
    .imagemMulher {
      margin-top: 30px !important;
      display: flex;
      flex-direction:column;
      img {
        position: relative;
        max-width: 100%;
      }
    .pictureWoman{
      margin-top:30px;
      position: relative;
      display:block;
    }
    }


  }

  @media(min-width: 580px) and (max-width:900px){
  padding: 40px 0px 0px 0px;

    .titleTopo {
      width: 50%;
      margin-top: 10px;
    }
  }
}


