@import "../../../styles/components/variaveis.scss";

.topheader {
  background-color: $azul;
  .linha {
    display: flex;
    justify-content: center;

    img{
      max-height:45px;
    }
    padding: 8px 15px;
    align-items: center;
  }

  ul {
    list-style: none;
    padding: 0px;

    li {
      display: none;
      a {
        color: $branco;
        text-decoration: none;
        font-weight: 400;

        &:hover {
          color: $amarelo;
        }
      }
    }
  }

  @media (min-width: 760px) {
    .linha {
      padding: 8px 0px;
      justify-content: space-between;
    }
    ul {
      display: flex;
      li {
        display: flex;
        margin: 0px 20px;
      }
    }
    .openmenu {
      display: none !important;
    }
  }
}
