
@import "../../styles/components/variaveis.scss";

.participar{
  background-color: $azul;
  padding:40px 15px;

  .titleParticipar{
    text-align:center;
    color:$amarelo;

    
  }
  .linha{
    display:flex;
    flex-direction: column;
    margin-top:60px;
  }
  .itemPreco{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: space-around;
    height: 170px;
    margin-bottom:40px;
    border-bottom:1px solid $cinza;
    h3{
      color:$amarelo;
      margin:5px 0;
    }
    .precoDescricao{
      color:$branco;
      margin:0px 0px 40px 0px;
      font-size:16px;
      h3{

      span{
        color:$branco;
      }
      }
    }
    a{
      @include buttonDefault($amarelo, $azul);
      font-weight:bold;
      &:hover{
        background:$branco;

      }
    }
  }

  @media(min-width:1024px){
    padding:60px 0px;
  .titleParticipar{
    text-align:center;
    color:$amarelo;
    h3{
      font-size:48px;
    }

    
  }
  .linha{
    display:flex;
    flex-direction: row;
    margin-top:60px;
    justify-content: space-between;
  }
  .itemPreco{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;
    align-content: space-around;
    height: auto;
    margin-bottom:40px;
    border-bottom:none;
    h3{
      color:$amarelo;
      margin:5px 0;
    }
    .precoDescricao{
      color:$branco;
      margin:0px 0px 40px 0px;
      font-size:16px;
      h3{

      span{
        color:$branco;
      }
      }
    }
    a{
      @include buttonDefault($amarelo, $azul);
      font-weight:bold;
      &:hover{
        background:$branco;

      }
    }
  }

  }
}
